mat-card.value{
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    height: 10vw;
    width: 10.5vw;
    color: darkred;
}

mat-card img{
    width: 10vw;
    height: 10vw;
}

.borderedImage{
    border: 0.2em solid steelblue;
    outline: none;
    box-shadow: 0 0 10px steelblue;
}

div{
    margin: 1em 0;
}
