#header{
    text-align: center;
    margin: 2% 0 2% 11%;
}

#header img, 
#header h1{
  display:inline-block;
  vertical-align: middle;
}

#header img{
    margin: 0 0.5%;
    height: 5%;
    width: 5%;
}

#header h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 3.5em;
}