<h1 mat-dialog-title>Rules:</h1>
<div mat-dialog-content>
  <p>
    There are 20 paylines as shown in the picture below:
  </p>
  <p style="text-align: center;">
    <img src="assets/img/paylines.PNG">
  </p>
  <p>
    To win money you need at least 3 symbols of the same kind on a payline (starting from left to right).
    The more symbols you get on a line, the more money you'll win. Every symbol has another value.
  </p>
</div>
<div style="text-align: right;" mat-dialog-actions>
  <button mat-button (click)="onOkClick()" cdkFocusInitial>Ok</button>
</div>