<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['game/slots']">play slots</a>
      <a mat-list-item [routerLink]="['shop/list']">shop</a>
      <!--router link only reloads the router outlet component, as opposed to the href attribute-->
      <!--you can add url parameters next to 'shop' and 'item/add' in the array-->
      <a mat-list-item [routerLink]="['profile']">profile</a>
      <a mat-list-item [routerLink]="['shop/add']" *ngIf="loggedInUser$ | async" data-cy="addItems">add shop item</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>The lucky chip</span>
      <span class="fill-space"></span>
      <span *ngIf="loggedInUser$ | async as user; else loginTemplate" data-cy="player-balance">
        {{ user }} 
        <b><u>balance:</u></b> 
        {{ playerBalance$ | async }}
        <button (click)="logout()" mat-flat-button>
          logout
        </button>
      </span>
      <ng-template #loginTemplate>
        <span>
          <button (click)="login()" mat-flat-button>
            login
          </button>
        </span>
      </ng-template>
    </mat-toolbar>
    <ng-content></ng-content> <!--better than putting router outlet here, 
      this will be replaced by anything you put inbetween the <app-main-nav> (ngcontent) </app-main-nav>tags-->
  </mat-sidenav-content>
</mat-sidenav-container>
